# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. scikitlearn
    5. ggplot
    6. dplyr
    7. stringr
    8. caret

|Data Science Tools|
----
Visual Studio Code
---
Juputer Notebook
---
Jupyter Lab
---

###Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

- A simple arithmetic operation
- Creating markdowns
- creating tables in markdowns
- Data science libraries

##Author

Sandra Mahannan